{% extends 'layout.html' %}

{% block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/item_view.css') }}" />
{% endblock %}

{% block content %}
  <div id="main">
    <div id="header"></div>
    
    <div class="cover-container">
     <img src="{{ url_for('static', filename=book.cover) }}" /> 
    </div>
    
    <div class="star-rating">
      {% include('book_rate.html') %}
    </div>
    
    <div class="info-container">
      <p><strong>Title:</strong> {{ book.title }}</p>
      <ul id="authors-list">
        <li class="list-heading"><strong>{% if book.authors|length > 1 %} Authors: {% else %} Author: {% endif %}</strong></li>
        {% for author in book.authors %}
        <li>{{ author.first_name }} {{ author.last_name }}</li>
        {% endfor %}
      </ul>
      <p><strong>Publisher:</strong> {{ book.publisher }}</p>
      <p><strong>Pages:</strong> {{ book.pages }}</p>
      <p><strong>Year:</strong> {{ book.year }}</p>
    </div>
    
    <!--<div id="authors-info">
      {% for author in book.authors %}
      <img src="{{ url_for('static', filename=author.photo) }}" />
      {% endfor %}
    </div>-->

    <div id="rating-container">
      <form class="form-inline" action="" name="rating" method="post">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="input-group">
              <input class="form-control" type="text" id="username" name="username" placeholder="Username" />
              <span class="input-group-addon" style="width: 20%;">
                <span class="label label-primary">Rate</span>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
                <i class="fa fa-star-o"></i>
              </span>
              <span class="input-group-btn">
                <button id="rate" class="btn btn-primary">Send</button>
              </span>
            </div><!-- input-group -->
          </div><!-- panel-heading -->
          <div class="panel-body">
            <textarea class="form-control" rows="4" name="comment" id="comment-box" placeholder="Comment"></textarea>
          </div><!-- panel-body -->
        </div><!-- panel -->
      </form><!-- form inline -->
      
      <div id="comments-container">
        {% for comment in comments %}
          <div class="comment">
            <div class="comment-header">
              <p><strong>{{ comment.username }}<span class="pull-right">{{ comment.time }}</span></strong></p>
            </div>
            <div class="comment-body">
              {{ comment.comment }}
            </div>
          </div><!-- comment -->
        {% endfor %}
      </div><!-- comments-container -->
    
    </div><!-- rating container -->
    
  </div><!-- main -->
{% endblock %}

{% block footer %}
  <script src="{{ url_for('static', filename='js/item_view.js') }}"></script>
{% endblock %}
