<div id="search-bar" class="container" style="float: right;">
  <form class="form-inline" action="" method="POST" name="search-form" style="width: 100%">
    <div id="search-input" class="input-group" style="width: 60%">
      <span class="input-group-addon" id="search-icon"><i class="fa fa-search"></i></span>
      <input id="search" type="text" class="form-control" name="search" placeholder="Search" />
    </div>
  
    <select id="filters" class="form-control"  name="filters" multiple="multiple" />
      <option value="1">Title</option>
      <option value="2">Author</option>
      <option value="3">Genre</option>
    </select>
  
    <button class="form-control btn btn-default" id="search-submit">Search</button>

    {% if admin %}
    <button class="form-control btn btn-danger pull-right" id="logout-btn">Logout</button>
    {% endif %}
  </form>
</div>
