#main {
  height: 100vh;
  margin: 0;
}

#content {
  margin: 0;
  width: 85%;
  height: 80%;
  float: left;
  margin-left: 1%;
}

.book {
  float: left;
  margin: 2%;
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  /*height: 350px;*/
  width: 100%;
  height: 100%;
}

.pagination {
  /*position: fixed;
  bottom: 20px;
  margin: 10px;
  left: 360px;*/
  margin-left: 5%;
}

.title {
  margin-top: 5px;
}

a.image-link {
  display: inline-block;
  width: 18%;
  height: 50%;
}

a.image-link:hover {
  color: black;
  opacity: .5;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  /*height: 300px;
  width: 200px;*/
  height: 80%;
  width: 80%;
}
