.star-rating i {
  margin-top: 30px;
}

.info-container {
  width: 30%;
  float: left;
  padding-top: 10px;
}

.info-container > ul {
  list-style: none;
  padding: 0;
}

.info-container > ul > li {
  display: inline;
}

.spinner {
  border: 3px solid #F3F3F3;
  border-top: 3px solid #3498DB;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  animation: spin 1s linear infinite;
}

.error {
  position: absolute;
  top: -55px;
  width: 100%;
  z-index: 9999;
  text-align: center;
  animation: slideUpComment 0.5s ease-in;
}

.error.active {
  top: 0;
  animation: slideDownComment 0.5s ease-out;
}

.panel-heading {
  width: 100%;
}

.input-group {
  width: 100%;
}

.input-group-addon {
  width: 20%;
}

.comment {
  margin-bottom: 10px;
  padding-left: 10px;
}

.comment-body {
  border-bottom: 1px dotted #000000;
  padding-bottom: 5px;
}

#rating-container {
  width: 30%;
  float: right;
  margin-right: 40px;
}

#comments-container {
  overflow-y: auto;
  height: 500px;
}

#username {
  width: 100%;
}

#comment-box {
  width: 100%;
}

#rate {
  width: 60px;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
}

#cover-container > img {
  margin: 30px;
  float: left;
  height: 500px;
  width: 321px;
}

@keyframes spin {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@keyframes slideDownComment {
  0%    { top: -55px; }
  100%  { top: 0; }
}

@keyframes slideUpComment {
  0%    { top: 0; }
  100%  { top: -55px; }
}
