body {
  padding-top: 10%;
}

#login-container {
  width: 20%;
  margin: auto;
  text-align: center;
}

#login-container input {
  height: 44px;
  margin-bottom: 10px;
  border-radius: 0;
}

#login-container button {
  height: 44px;
  border-radius: 0;
}
