body {
  overflow: hidden;
}

#sidebar {
  width : 12vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  float: left;
}

#branding {
  height: 69px;
  width: 100%;
  background-color: #4CA7FF;
  text-align: center;
  padding: 0;
  font-family: Georgia, Serif;
}

#sidebar-menu {
  height: 93%;
  width: 100%;
  background-color: #29557F;
  margin-top: 2%;
  padding: 0;
}

.sidebar-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-family: Georgia, Serif;
  font-size: 20px;
}

.list-item {
  height: 60px;
  width: 100%;
  background-color: #0081FF;
}

.arrow {
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  animation: turnRight 0.3s;
}

.arrow.active {
  animation: turnDown 0.3s;
}

.sublist {
  max-height: 0;
  opacity: 0;
  animation: slideUp 1s;
  display: none;
 /* transition: max-height 0.6s ease-in-out, opacity 0.6s ease-in-out 0.5s; */
}

.sublist.active {
  max-height: 500px;
  opacity: 1;
  animation: slideDown 1s;
  display: block;
}

.sublist-item {
  background-color: #4CA7FF;
}

.sublist-item.active > :first-child {
  color: white;
}

a {
  display: block;
  color: black;
  height: 100%;
  margin-left: 5px;
  padding-top: 15px;
}

a:visited, a:link {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: white;
  text-decoration: none;
}

li {
  margin-top: 5px;
}

@keyframes slideDown {
  0%    { max-height: 0; opacity: 0; }
  50%   { max-height: 300px; opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes slideUp {
  0%    { opacity: 1; max-height: 300px; }
  25%   { opacity: 0; }
  100%  { max-height: 0; }
}

@keyframes turnDown {
  100%  { transform: rotate(90deg); }
}

@keyframes turnRight {
  100%  { transform: rotate(-90deg); }
}
